@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;	
}

a {
	cursor: pointer;	
}

a.disabled {
	color: #777 !important;
	cursor: default !important;	
}

#container {
	width: 900px;
	margin:0 auto; 	
}

header {
	margin-top: 15px;	
}

header h1 {
	font-size: 3em; 
	margin-bottom: 10px;	
}

nav {
	background: #444;	
}

nav ul {
	margin-left: 0;	
}

nav ul li {
	display: block;
	float: left;
}

nav ul li a {
	padding: 5px 10px;
	display: block;
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
}

nav ul li a:visited {
	color: #fff;
}

nav ul li a:hover {
	color: #444;
	background: #ddd;
}

nav ul li.active a {
	color: #444 !important;
	background: #ddd !important;
}

#main {
	margin-top: 20px;
	margin-left: 10px;
}

#main h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.accounts #main .group {
	padding: 10px;
	border: 1px solid #333;
	margin-bottom: 10px;	
}

.accounts #main .group h3 {
	margin-bottom: 5px;
	font-size: 16px;	
}

.accounts #main .group .account {
	display: block;
	float: left;
	width: 250px;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	margin-right: 10px;	
	cursor: pointer;
	text-decoration: none;
}

.accounts #main .group .account .balance {
	font-weight: bold;
}

.accounts #main .group .account .balance.positive {
	color: #090;
}


.accounts #main .group .account .balance.negative {
	color: #900;
}

.accounts #main .group .account:hover {
	background: #ddd;
}

.dataform .field {
	margin-bottom: 10px;	
}

.dataform .field label {
	display: block;
	float: left;
	width: 200px;	
}

.dataform .field input,.dataform .field select {
	display: block;
	float: left;
	width: 200px;	
}

.dataform .field input {
	padding: 5px;
	border: 1px solid #ccc;	
}

.dataform .field input:focus {
	border: 1px solid #555 !important;
}

.dataform .field select {
	padding: 5px;
	width: 205px;	
}

.dataform button {
	padding: 5px;
	margin-right: 5px;	
}

.dataform button.ok {
	background: #cfc;
	border: 1px solid #080;
}

.dataform button.ok:hover {
	background: #dfd;
}

.dataform button.cancel {
	background: #ffc;
	border: 1px solid #880;
}

.dataform button.cancel:hover {
	background: #ffd;
}

.dataform button.delete {
	background: #fcc;
	border: 1px solid #800;
}

.dataform button.delete:hover {
	background: #fdd;
}

footer {
	margin-top: 20px;
	text-align: right;
	font-size: 0.8em;
	color: #555;
}

#select-account {
	margin-top: 15px;
	margin-left: 2px;
}

#select-account .account {
	width: 230px;
	float: left;
	margin: 0px 5px 5px 0px;
	border: 1px solid #ccc;
	background: #ddd;
	cursor: pointer;
	padding: 10px;
}

#select-account .account:hover {
	background: #dfd;
}

#validate-trans .transaction {
	padding: 10px;
	margin: 5px;
}

#validate-trans .transaction.valid {
	background: #dfd;
	border: 1px solid #090;
}

#validate-trans .transaction.invalid {
	background: #fdd;
	border: 1px solid #900;
}

#validate-trans .transaction .payee {
	float: left;
	width: 300px;
}

#validate-trans .transaction .date {
	float: left;
	width: 130px;
}

#validate-trans .transaction .category {
	float: left;
	width: 200px;
}

#validate-trans .transaction .value {
	float: right;
	width: 70px;
	text-align: right;
}

#validate-trans .transaction .description {
	clear: left;
	float: left;
	width: 300px;
	color: #aaa;
	padding-top: 5px;
	overflow: hidden;
}

#validate-trans .transaction .transfer {
	float: left;
	width: 200px;
	padding-top: 5px;
}

#validate-trans .transaction .toolbar {
	float: right;
	width: 200px;
	padding-top: 5px;
	text-align: right;
}

#validate-trans .transaction .toolbar button {
	height: 1.8em;
	width: 1.8em;
}

#validate-trans .transaction .split {
	clear: both;
	border-top: 1px dotted #aaa;
	margin-top: 5px;
	padding-top: 5px;
}

#uploads .upload {
	border:1px solid #CCCCCC;
	margin:5px 0px;
	padding:5px;
}

#uploads .upload .col {
	float: left;
}

#uploads .upload .col.name {
	width: 150px;
	overflow: hidden;
	float: left;
}

#uploads .upload .col.status {
	width: 200px;
	overflow: hidden;
	float: left;
}

#uploads .upload .col.account {
	width: 300px;
	overflow: hidden;
	float: left;
}

#uploads .upload .col.count {
	padding: 0px 10px;
	float: right;
	font-weight: bold;
}

#uploads .upload .col.count .valid {
	color: #080;
}

#uploads .upload .col.count .invalid {
	color: #800;
}

h3 {
	font-size: 14px;	
}

#rules {
	margin-top: 10px;	
}

#rules .rule {
	padding: 5px;
	margin: 0px 0px 5px 0px;
	border: 1px solid #ccc;
}

#editor {
	display: none;
	position: absolute;
	top: 30px;
	width: 850px;
	border: 1px solid #000;
	background: #fff;
}

#editor input.name {
	width: 200px;
}

#preview {
        display: none;
        position: absolute;
        top: 30px;
        width: 850px;
	height: 500px;
	overflow: auto;
        border: 1px solid #000;
        background: #fff;
	padding: 5px;
}

#preview div.transaction {
	margin: 3px;
	padding: 3px;
	border: 1px solid #ccc;
	background: #fff;
}

#preview div.transaction .col {
	float: left;
	margin-right: 20px;
	overflow: hidden;
	white-space: nowrap;
}

#preview div.transaction.valid {
	background: #dfd;
}

#preview div.transaction.invalid {
	background: #fdd;
}

.edit:hover {
	background: #fee !important;
	cursor: pointer;
}

.editing {
	position: absolute;
	padding: 5px;
	-moz-box-shadow: 5px 5px 15px #666;
	-webkit-box-shadow: 5px 5px 15px #666;
}

.editing input {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
}

.editing button {
	float: left;
	margin: 0;
}
